<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 align="center">Welcome Back !</h2>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" required></ion-input>
  </ion-item>
  <ion-button class="ion-padding ion-margin-top" color="primary" expand="full">Login</ion-button>
  <p class="ion-padding ion-margin-top" align="center">New here? <a class="ion-color-primary" routerLink="/register">Register</a></p>
</ion-content>
