ion-item-sliding {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.vertical-center{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.component-icon {
  border-radius: 50%;
  padding: 7px;
  height: 18px;
  width: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.component-icon-primary {
  background: var(--ion-color-primary);
  color: #fff;
}

.home-list {
  padding-top: 0 !important;
} 