<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Update Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="updateUser(profile)">
    <ion-item>
      <ion-icon slot="start" name="person-outline"></ion-icon>
      <ion-label position="floating">Name</ion-label>
      <ion-input [ngModelOptions]="{standalone: true}" type="email" required [(ngModel)]="profile.displayName" clearInput></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-icon slot="start" name="image-outline"></ion-icon>
      <ion-input [ngModelOptions]="{standalone: true}" type="file" required [(ngModel)]="profile.photoURL"></ion-input>
    </ion-item>

    <ion-button class="ion-padding ion-margin-top" color="primary" expand="full" type="submit">Update Profile</ion-button>
  </form>
</ion-content>