<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" required></ion-input>
  </ion-item>
  <ion-button class="ion-padding ion-margin-top" color="primary" expand="full">Register</ion-button>
  <p class="ion-padding ion-margin-top" align="center">Already have an account? <a class="ion-color-primary" routerLink="/login">Login</a></p>
</ion-content>
